/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    margin-top: 40px;
}

footer .footer-content h2 {
    font-size: 1.5em;
    margin: 0;
    font-weight: normal;
    color: #ddd;
}

footer .social-icons {
    margin-top: 20px;
}

footer .social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 2em; /* Increase icon size */
    margin: 0 20px; /* Increase spacing between icons */
    transition: transform 0.3s ease, color 0.3s ease;
}

footer .social-icons a:hover {
    color: #007acc;
    transform: scale(1.2); /* Larger hover effect */
}
